*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
node_modules/

# KMP cache
.kotlinc/
.compose-cache/
.kmp-cache/

# IOS Build
DerivedData/
Pods/
*.xcuserstate

# env
.env

# Log / Tmp file
*.log
*.tmp
*.swp
